{% extends "base_register_user.html" %}
{% block title %}
    Профиль пользователя
{% endblock %}

{%block navigation_menu%}
{% endblock %}

{% block content %}
    <h1 style="text-align: center"> Мой профиль. </h1>

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ avatar_forms }}
        <button type="submit" class="btn">Добавить</button>
    </form>
    
    <p>Логин:</p>
    {{user_name}}
    <p>Аватар:</p>
    <img width="50" height="50" src="{{avatar}}">

{% endblock %}