{% extends "blog/base.html" %}
{% block title %}
    Коментарии
{% endblock %}

{% block content %}
    <h1>Страница коментариев.</h1>

    <form  action="" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit">Отправить</button>
    </form>

    {% for comment in comments %}
        <p><b>login:</b> {{ comment.user_name }} </p>
        <p>{{ comment.message }} </p>
    {% endfor %}

    <a href="?page={{previous_page}}">previous</a>
    <a href="?page={{next_page}}">next</a>

{% endblock %}